@import url('https://fonts.googleapis.com/css?family=Cuprum:400,400i,700|PT+Sans:400,400i,700,700i&subset=cyrillic');

body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 125%;
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.main-header {
  background-color: #f3f7f8;
  padding-bottom: 60px;
}

.container__header {
  background-color: #293449;
}


.top-header {
  margin: 0 auto;
  max-width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.middle-header {
  display: flex;
  flex-direction: row;
}

.top-header__logo {
  display: block;
  width: 219px;
  height: 42px;
  padding-left: 1px;
  margin-bottom: -5px;
  background-color: #ef3643;
  border-bottom: 5px solid #b52933;
  font-size: 24px;
  line-height: 46px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.top-header__logo:hover {
  background-color: #ca2c37;
}

.top-header__link {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
}

.form-search {
  width: 270px;
  height: 42px;
  display: flex;
  flex-direction: row-reverse;
}

.form-search__label {
  display: inline-block;
  width: 44px;
  height: 42px;
  margin-left: -4px;
}

.form-search__icon {
 fill: rgba(255, 255, 255, 0.3);
 padding-top: 12px;
 padding-right: 10px;
 padding-bottom: 13px;
 padding-left: 17px;
}

.form-search__input {
  box-sizing: border-box;
  width: 226px;
  height: 42px;
  padding: 5px;
  vertical-align: top;
  font-size: 17px;
  color: #fff;
  background-color: #293449;
  border: none;
}

.form-search__input:focus,
.form-search__input:focus ~ .form-search__label {
  height: 42px;
  background-color: #fff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  color: #000;
  outline: none;
}

.form-search__input:focus ~ .form-search__label svg {
  fill: #ef3643;
}

.form-search__input::-webkit-input-placeholder {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  color:#fff;
}
.form-search__input::-moz-placeholder          {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  color:#fff;
}
.form-search__input:-moz-placeholder           {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  color:#fff;
}
.form-search__input:-ms-input-placeholder      {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  color:#fff;
}

.price-menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.price-menu__item{
  width: 150px;
  position: relative;
  text-align: center;
  font-size: 17px;
  line-height: 41px;
}

.price-menu__bookmark {
  margin-left: 17px;
}

.price-menu__bookmark::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  top: 12px;
  left: 18px;
  background-image: url("../img/icons/icon-bookmark.svg");
  background-size: 14px 16px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.price-menu__cart {
  margin-left: 22px;
}

.price-menu__cart_active {
  background-color: #ef3643;
  color: #ffffff;
}

.price-menu__cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 12px;
  left: 18px;
  background-image: url("../img/icons/icon-cart.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.price-menu__place-order {
  background-color: #63a63e;
}

.price-menu__link {
  display: block;
  height: 42px;
  color: #fff;
}

.price-menu__link:active {
  opacity: 0.5;
  background-color: #161d29;
}

.price-menu__place-order:hover {
  background-color: #5fbb2d;
  outline: none;
}

.price-menu__place-order:active {
  opacity: 0.5;
  outline: none;
}

.middle-header {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 39px;
}

.middle-header__description {
  padding: 0;
  margin: 0;
  width: 192px;
  margin-top: 2px;
  margin-left: 53px;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ef3643;
  white-space: normal;
  font-style: italic;
}

.header-contact {
  width: 270px;
  margin-left: 75px;
  margin-right: auto;
}

.header-contact__phone {
  margin: 0;
  box-sizing: border-box;
  position: relative;
  width: 270px;
  height: 45px;
  padding-top: 11px;
  padding-left: 71px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 18px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.4px;
  color: #ef3643;
}

.header-contact__phone::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 19px;
  left: 13px;
  background-image: url("../img/icons/icon-phone.svg");
  background-size: 18px 19px;
  background-repeat: no-repeat;
}

.header-contact__address {
  margin: 0;
  padding-left: 9px;
  padding-top: 4px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.3px;
  color: #32425c;
}

.user-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 300px;
}

.user-menu__item {
  position: relative;
}

.user-menu__item:last-child {
  margin-left: 10px;
}

.user-menu__link {
  display: block;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
}

.user-menu__log-in {
  padding-top: 13px;
  padding-right: 26px;
  padding-bottom: 14px;
  padding-left: 47px;
}

.user-menu__log-in::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  background-image: url("../img/icons/icon-login.svg");
  background-size: 20px 17px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-menu__registration {
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 14px;
}


.user-menu__entered {
  position: relative;
  width: 300px;
  padding-top: 13px;
  padding-right: 35px;
  padding-bottom: 14px;
  padding-left: 48px;
}

.user-menu__entered::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 14px;
  right: 10px;
  background-image: url("../img/icons/icon-logout.svg");
  background-size: 20px 17px;
  background-repeat: no-repeat;
}

.user-menu__entered::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 14px;
  left: 14px;
  background-image: url("../img/icons/icon-user.svg");
  background-size: 20px 17px;
  background-repeat: no-repeat;

}

.user-menu__item_logged {
  padding-top: 3px;
}

.user-menu__my-orders {
  padding-right: 23px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  background: transparent;
  text-decoration: underline;
}

.user-menu__my-account {
  position: relative;
  padding-right: 71px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  background: transparent;
  text-decoration: underline;
}

.user-menu__link:hover {
  color: #ef3643;
}

.user-menu__link:active {
  opacity: 0.5;
}

.main-navigation {
  max-width: 940px;
  margin: 0 auto;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-menu {
  margin: 0;
  padding: 0 21px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main-menu__link {
  display: block;
  height: 55px;
  font-size: 17px;
  line-height: 57px;
  color: #ffffff;
  padding-left: 30px;
  padding-right: 31px;
}

.main-menu__link:hover {
  background-color: #293449;
}

.main-menu__link:active{
  background-color: #1d2739;
  opacity: 0.5;
}

.promo-content {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 59px;
  padding-bottom: 32px;
  display: flex;
}

.promo-item {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

.promo-content__column_position_left {
  display: flex;
  flex-wrap: wrap;
}

.new-mark {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 1;
}

.promo-item__material {
  margin-right: 20px;
  background-color: #ffbf47;
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  background-size: 44px 65px;
  background-position: 213px 31px;
  position: relative;
}

.promo-item__tool {
  background-color: #3bbce3;
  background-image: url("../img/icons/icon-2.svg");
  background-repeat: no-repeat;
  background-size: 75px 79px;
  background-position: 197px 23px;
}

.promo-item__technics {
  background-color: #dc91d8;
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
  background-size: 78px 62px;
  background-position: 191px 31px;
}

.promo-item__discounts {
  background-color: #8ed78f;
  background-image: url("../img/icons/icon-4.svg");
  background-repeat: no-repeat;
  background-size: 59px 73px;
  background-position: 196px 26px;
}

.promo-item__deliver {
  background-color: #ffc047;
  background-image: url("../img/icons/icon-5.svg");
  background-repeat: no-repeat;
  background-size: 78px 63px;
  background-position: 191px 32px;
}

.promo-item__title {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 22px;
  padding-bottom:20px;
  font-size: 24px;
  line-height: 9px;
  font-weight: bold;
  color: #ffffff;
}

.promo-item__link {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 26px;
  margin-top: 3px;
  height: 38px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-content__column_position_right .promo-item__link {
  margin-left: 23px;
}

.content-header__link {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: 22px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-item__link {
  width: 135px;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-item__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-item__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.content-header__link,
.about-company__link,
.accordion-tabs__link {
  display: block;
  background-color: #ef3643;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  text-transform: uppercase;
  border-radius: 3px;
}

.promo-carousel {
  position: relative;
  margin-top: -16px;
}

.promo-carousel__slide {
  position: relative;
}

.promo-carousel__control {
  position: relative;
  width: 100%;
  bottom: 0;
}

.promo-carousel__control_left {
  position: absolute;
  top: 112px;
  left:20px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.promo-carousel__control_right {
  position: absolute;
  top: 112px;
  right: 14px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.promo-carousel__badge_center {
  position: absolute;
  bottom: 54px;
  left: 295px;
}

.promo-carousel__badge {
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-right: 7px;
  padding: 0;
  color: #ffffff;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.promo-carousel__badge:hover,
.promo-carousel__badge_active {
  background: #ef3643;
  background-size: 6px 6px;
}

.promo-carousel__link {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 25px;
  left: 27px;
  width: 195px;
  height: 38px;
  background-color: #ef3643;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-carousel__title {
  margin: 0;
  padding: 0;
  position: absolute;
  top:25px;
  left: 23px;
  font-size: 36px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.promo-carousel__text {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 59px;
  left: 25px;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
}
.popular-items {
    margin: 0;
    padding: 0;
    max-width: 940px;
    margin: 0 auto;
}

.content-header {
  display: flex;
  height: 90px;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
  background-color: #f9f5f0;
  text-transform: uppercase;
}

.content-header__title {
  font-size: 30px;
  margin-right: auto;
  margin-left: 30px;
  font-weight: normal;
  color: #32425c;
}

.content-header__link {
  width: 253px;
  height: 38px;
  padding: 0;
  margin-right: 24px;
  line-height: 40px;
}

.breadcumbs {
  max-width: 940px;
  margin: 0 auto;
}

.breadcumbs__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  min-width: 340px;
  list-style: none;
}

.breadcumbs__item {
  position: relative;
  margin-right: 42px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.breadcumbs__item::before {
  position: absolute;
  content: "";
  top: 23px;
  left: -24px;
  width: 7px;
  height: 12px;
  background-image: url("../img/icons/icon-right-small.svg");
  background-repeat: no-repeat;
}

.breadcumbs__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000000;
  font-weight: normal;
}

.breadcumbs__home {
  position: static;
  padding-top: 1px;
  margin-left: -2px;
}

.container__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.catalog {
  margin: 0;
  padding: 0;
  max-width: 940px;
  margin: 0 auto;
}

.catalog__header {
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;
  background-color: #f2f6f8;
}

.catalog__title {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.filter {
  width: 220px;
  margin-top: 20px;
}

.filter__title {
  padding: 0;
  margin: 0;
  height: 40px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 18px;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

.filter__fieldset {
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter__fieldset:last-of-type {
  border: none;
}

.filter__subtitle {
  padding-bottom: 25px;
  margin-left: -2px;
  font-size: 17px;
  line-height: 9px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.filter__subtitle_first {
  padding-top: 2px;
}

.filter__subtitle_manufactured {
  padding-top: 27px;
}

.filter__subtitle_feed {
  padding-top: 29px;
  padding-bottom: 24px;
}

.filter-interval__slider {
  width: 220px;
  height: 80px;
  position: relative;
  background-color: #f7f3ec;
}

.filter-interval__slide-line {
  width: 180px;
  height: 2px;
  position: absolute;
  top: 39px;
  left: 20px;
  background-color: #d7dcde;
}

.filter-interval__slide-line_active {
  width: 151px;
  height: 2px;
  position: absolute;
  top: 39px;
  left: 20px;
  background-color: #00ca74;
}

.filter-interval__slider-badge {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 29px;
  background-image: url("../img/icons/filter-button.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-interval__slider-badge_left {
  left: 20px;
}

.filter-interval__slider-badge_right {
  right: 40px;
}

.filter-interval {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  padding-bottom: 25px;
}

.filter-interval__price {
  padding: 0;
  width: 95px;
  height: 38px;
  border: none;
  background-color: #f7f3ec;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter-interval__separator {
  width: 10px;
  height: 1px;
  background-color: #000000;
}

.filter__label {
  position: relative;
  display: block;
  padding-bottom: 20px;
  padding-left: 33px;
  font-size: 14px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + .filter__label::before {
  position: absolute;
  content: "";
  height: 23px;
  width: 26px;
  top: -2px;
  left: -3px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + .filter__label::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + .filter__label::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  top: -2px;
  left: -3px;
  background-image: url("../img/icons/radio-off.svg");
}

input[type="radio"]:checked + .filter__label::before {
  background-image: url("../img/icons/radio-on.svg");
}

.filter__button {
  padding: 0;
  width: 140px;
  height: 38px;
  margin-top: 58px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.catalog-content {
  width: 700px;
  margin-top: 20px;
}

.catalog-content__header {
  background-color: #f7f3ec;
  height: 40px;
  margin-bottom: 18px;
}

.catalog-content__title {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  padding-left: 18px;
  font-weight: normal;
}

.sort-price {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  width: 460px;
}

.sort-price__item {
  margin-right: auto;
}

.sort-price__item:nth-child(2),
.sort-price__item:nth-child(3) {
  margin-left: 25px;

}

.sort-price__item:nth-child(n+4) {
  margin-right: 0;
}

.sort-price__link {
  display: block;
  font-size: 13px;
  line-height: 18px;
  border-bottom: 1px dashed #ef3643;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.sort-price__link_up {
  width: 11px;
  height: 10px;
  margin-right: 21px;
  background-image: url("../img/icons/icon-up-dir.svg");
}

.sort-price__link_down {
  width: 11px;
  height: 10px;
  margin-right: 17px;
  background-image: url("../img/icons/icon-down-dir.svg");
}

.sort-price__link_active {
  color: #ef3643;
  opacity: 1;
  border: none;
}

.sort-price__link_border_none {
  border: none;
}

.catalog-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  flex-basis: 188px;
  max-width: 100%;
  min-height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.catalog-item__offer {
  display: none;
  box-sizing: border-box;
  background: #ffffff;
}

.catalog-item:hover > .catalog-item__offer {
  display: block;
  position: absolute;
  padding: 20px 10px;
  top: 23px;
  left: 2px;
}

.catalog-item__buy {
  position: relative;
  width: 135px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-bottom: 7px;
  background-color: #63a63e;
  box-shadow: 0 3px 0 0 rgba(55, 116, 22, 1);
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.catalog-item__buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 11px;
  left: 12px;
  background-image: url("../img/icons/icon-cart.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.catalog-item__marked {
  width: 135px;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 3px solid #63a63e;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  color: #32425c;
}

.catalog-item:hover {
  box-shadow: 0 4px 10px 0px rgba(41, 52, 73, 0.5);
}

.catalog-item__image_bfg9000 {
  margin-bottom: 11px;
  margin-left: -1px;
}

.catalog-item__image_bfg3000 {
  margin-bottom: 40px;
  margin-left: -13px;
}

.catalog-item__image_bfg6000 {
  margin-bottom: 31px;
  margin-left: -21px;
}

.catalog-item__image_bfg2000 {
  margin-bottom: 39px;
  margin-left: -28px;
}

.catalog-item__title {
  padding: 0;
  margin: 0;
  max-width: 100%;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

.not-discont {
  margin-bottom: 40px;
}

.catalog-item__old-price {
  margin-bottom: 11px;
  font-size: 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  font-weight: bold;
  color: #a9a9a9;
}

.catalog-item__link {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 122px;
  height: 38px;
  padding-left: 14px;
  margin-left: -11px;
  margin-bottom: 19px;
  border-radius: 3px;
  background-color: #ef3643;
  position: relative;
  text-align: center;
  font-size: 17px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-item__link::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0px;
  right: -18px;
  border: 19px solid transparent;
  border-left-color: #ef3643;
  border-right: 0;
}

.catalog-footer {
  padding-top: 32px;
  padding-bottom: 60px;
}

.footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-list__item {
  display: inline-block;
  text-align: center;
  margin-right: 7px;
}

.footer-list__link {
  display: block;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding-top: 10px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
}

.footer-list__link_active {
  background-color: #ef3643;
  color: #ffffff;
}

.footer-list__next {
  padding-left: 30px;
  padding-right: 31px;
  text-transform: uppercase;
}

.footer-list__link:hover,
.footer-list__link:focus {
  border-color: #bdc6ca;
}


.footer-list__link:active {
  border-color: #ef3643;
}

.description-catalog {
  margin: 0;
  padding: 0;
  max-width: 940px;
  margin: 0 auto;
  padding-bottom: 68px;
}

.description-catalog__title {
  padding: 0;
  margin: 0;
  padding-top: 68px;
  padding-bottom: 29px;
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.2px;
}

.description-catalog__content {
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.popular-manufacturers {
    margin: 0;
    padding: 0;
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 65px;
}

.popular-manufacturers .content-header__title {
  margin-left: 25px;
}

.manufacturers-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.manufacturers-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 218px;
  min-height: 143px;
  border: 1px solid #ebebeb;
  margin-bottom: 20px;
}

.manufacturers-list__image_interscole {
  margin-top: -12px;
}

.manufacturers-list__image_hitachi {
  margin-top: 8px;
  margin-left: 6px;
}

.manufacturers-list__image_metabo {
  margin-top: -4px;
  margin-left: 2px;
}

.manufacturers-list__item:hover,
.manufacturers-list__item:focus {
  box-shadow: 0 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.manufacturers-list__item:active {
  box-shadow: 0 4px 10px 0px rgba(41, 52, 73, 1);
  opacity: 0.5;
}

.container__services {
  background-color: #f4f8fa;
}

.services {
  margin: 0;
  padding: 0;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 68px;
}

.custom-header__title {
  font-size: 29px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-bottom: 29px;
}

.custom-header__desctiption {
  padding: 0;
  margin: 0;
  width: 400px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.accordion-tabs {
  display: flex;
  margin-top: 67px;
}

.accordion-label {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 80px;
  position: relative;
}

.accordion-label::before{
  position: absolute;
  right: 0;
  top: -40px;
  content: "";
  width: 10px;
  height: 272px;
  background-image: url("../img/tabs-shadow.png");
  background-repeat: no-repeat;
}

.accordion-label__btn {
  display: block;
  width: 239px;
  height: 62px;
  padding-left: 23px;
  border: none;
  border-bottom: 1px solid #4d637b;
  background-color: #32425c;
  text-align: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  outline: 1;
}

.accordion-label__btn:hover {
  color: #ffffff;
  background-color: #293449;
}

.accordion-label__active {
  background-color: #ffffff;
  color: #32425c;
}

.accordion-content__title {
  padding: 0;
  margin: 0;
  padding-bottom: 28px;
  font-size: 36px;
  line-height: 33px;
  color: #32425c;
  letter-spacing: -0.3px;
  text-transform:  uppercase;
}

.accordion-content__item {
  width: 640px;
  min-height: 286px;
}
.accordion-content__delivery {
  background-image: url("../img/services-delivery.png");
  background-repeat: no-repeat;
  background-position: 152px 25px;
}

.accordion-content__guarantee {
  background-image: url("../img/services-guarantee.png");
  background-repeat: no-repeat;
  background-position: 149px 25px;
}

.accordion-content__credit {
  background-image: url("../img/services-credit.png");
  background-repeat: no-repeat;
  background-position: 149px 25px;
}

.accordion-content__text {
    width: 275px;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    font-family: "PT Sans", "Arial", sans-serif;
}

.accordion-content__text_short {
  width: 228px;
}

.about-company {
  margin: 0;
  padding: 0;
  max-width: 940px;
  margin: 0 auto;
}

.our-company__description,
.company-contacts__description {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.accordion-tabs__link {
  width: 195px;
  text-align: center;
}

.delivery-list {
  list-style: none;
}

.delivery-list__item {
  position: relative;
  font-size: 18px;
  line-height: 13px;
}

.delivery-list__item:before {
  content: "";
  width: 25px;
  height: 2px;
  position: absolute;
  top: 7px;
  left: -36px;
  background-color: #ef3643;
}

.about-company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 85px;
  min-width: 370px;
}

.our-company {
  flex-basis: 540px;
}

.company-contacts {
  flex-basis: 300px;
}

.our-company__description {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.our-company__description:first-child {
  margin-bottom: 40px;
}

.our-company__description_second{
    width: 390px;
}

.about-company__link {
  display: block;
  width: 169px;
  background-color: #ef3643;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 41px;
  text-transform: uppercase;
  border-radius: 3px;
}

.company-contacts__link {
  display: block;
  background-color: #ef3643;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 64px;
  text-transform: uppercase;
  border-radius: 3px;
}

.company-contacts__description {
  padding: 0;
  margin: 0;
  width: 200px;
}

.company-contacts__map {
  display: block;
  padding-top: 31px;
  padding-bottom: 36px;
}

.delivery-list {
  padding: 0;
  margin: 0;
  padding-left: 36px;
  padding-bottom: 13px;
}

.delivery-list__item {
  margin-bottom: 27px;
}

.container__footer-top {
  background-color: #32425c;
}

.container__footer-bottom {
  background-color: #293449;
}

.footer-top,
.footer-middle,
.footer-bottom {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
}

.footer-top__logo {
  width: 220px;
  margin-right: auto;
  background-color: #ef3643;
  border-bottom: 5px solid #b52933;
  font-size: 30px;
  line-height: 13px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;

  padding-bottom: 24px;
  cursor: pointer;
}


.footer-menu__list,
.footer-middle__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-menu__item,
.footer-middle__menu-item {
  display: inline-block;
}

.footer-menu__item {
  margin-top: 39px;
  margin-right: 56px;
}

.footer-menu__item:last-child {
  margin-right: 0;
}

.footer-middle {
  padding-top: 27px;
  padding-bottom: 50px;
}

.footer-middle__address {
  width: 330px;
  margin-right: auto;
  font-style: normal;
  padding-left: 3px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-middle__menu-item {
  margin-right: 56px;
}

.footer-middle__menu-item:last-child {
  margin-right: 0;
}

.footer-menu__link,
.footer-middle__link {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.footer-middle__link,
.footer-feedback__mail-link,
.footer-feedback__link {
  color: #ffd180;
}

.footer-menu__link:hover,
.footer-middle__link:hover,
.footer-feedback__mail-link:hover,
.footer-feedback__link:hover,
.footer-menu__link:focus,
.footer-middle__link:focus {
  text-decoration: underline;
}

.footer-menu__link:active,
.footer-middle__link:active {
  opacity: 0.5;
}

.footer-bottom {
  padding-top: 35px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.bottom-footer__copyright {
  margin: 0;
  padding: 0;
  width: 230px;
  margin-right: 160px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.bottom-footer__social-button {
  font-size: 0;
}

.bottom-footer__vk-icon,
.bottom-footer__facebook-icon,
.bottom-footer__twitter-icon {
  display: inline-block;
  margin-right: 4px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
}

.bottom-footer__vk-icon {
  background-position: 50% 13px;
}

.bottom-footer__facebook-icon {
  background-position: 50% 10px;
}

.bottom-footer__twitter-icon {
  margin-right: 0;
  background-position: 50% 10px;
}

.bottom-footer__vk-icon {
  background-image: url("../img/icons/icon-vk.svg");
  background-repeat: no-repeat;
  background-size: 26px 15px;
}

.bottom-footer__facebook-icon {
  background-image: url("../img/icons/icon-fb.svg");
  background-repeat: no-repeat;
  background-size: 12px 22px;
}

.bottom-footer__twitter-icon {
  background-image: url("../img/icons/icon-insta.svg");
  background-repeat: no-repeat;
  background-size: 21px 21px;
}

.bottom-footer__vk-icon:hover,
.bottom-footer__facebook-icon:hover,
.bottom-footer__twitter-icon:hover,
.bottom-footer__vk-icon:active,
.bottom-footer__facebook-icon:active,
.bottom-footer__twitter-icon:active,
.bottom-footer__vk-icon:focus,
.bottom-footer__facebook-icon:focus,
.bottom-footer__twitter-icon:focus {
  background-color: #ef3643;
}

.footer-feedback__mail {
  margin: 0;
  padding: 0;
  width: 140px;
}

.footer-feedback__mail {
  margin-left: auto;
  margin-right: 48px;

}

.footer-feedback__powered-by {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 100px;
}

.footer-feedback__mail-link:active,
.footer-feedback__link:active,
.footer-feedback__mail-link:focus,
.footer-feedback__link:focus {
  color: #ef3643;
}

.modal {
  position: fixed;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-feedback {
  display: none;
  top:120px;
  left:50%;
  width: 620px;
  margin-left: -310px;
  background-color: #ffffff;
  border-top: 7px solid #ff5257;
}

.modal-close {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 26px;
  height: 4px;
  background-color: #ef3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-feedback__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 220px;
  flex-grow: 1;
  justify-content: space-between;
}

.modal-feedback__block {
  padding: 0;
  margin: 0;
  padding-bottom: 22px;

}

.modal-feedback__block_name {
  padding: 47px 10px 11px 80px;
}

.modal-feedback__block_email {
  padding: 47px 80px 11px 10px;
}

.modal-feedback__block_textform {
  padding: 10px 80px 32px 80px;
}

.modal-feedback__label {
  display: block;
  padding-bottom: 10px;
  padding-left: 1px;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-feedback__name-user {
  box-sizing: border-box;
  width: 220px;
  padding-top: 9px;
  padding-right:  14px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 2px solid #dee3e4;
  font-size: 12px;
  color: #a9a9a9;
}

.modal-feedback__email-user {
  box-sizing: border-box;
  width: 220px;
  padding-top: 10px;
  padding-right:  14px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 2px solid #dee3e4;
  font-size: 12px;
  color: #a9a9a9;
}

.modal-feedback__textform-user {
  box-sizing: border-box;
  width: 460px;
  min-height: 113px;
  padding-top: 10px;
  padding-right:  14px;
  padding-bottom: 10px;
  padding-left: 14px;
  border: 2px solid #dee3e4;
  font-size: 12px;
  color: #a9a9a9;
}

.modal-feedback__block_button {
  padding-top: 38px;
  padding-right: 80px;
  padding-bottom: 36px;
  padding-left: 80px;
  background-color: #f4f4f4;
}

.modal-feedback__button-submit {
  width: 460px;
  padding: 12px 0;
  border: none;
  border-radius: 3px;
  background-color: #ef3643;
  color: #ffffff;
  text-transform: uppercase;
}

.modal-map {
  display: none;
  top:120px;
  left:50%;
  max-width: 940px;
  margin-left: -470px;
  background-color: transparent;
}

.modal-map__block {
  padding: 0;
  margin: 0;
}

.modal-cart {
  display: none;
  top:120px;
  left:50%;
  width: 620px;
  margin-left: -310px;
  background-color: #ffffff;
  border-top: 7px solid #ff5257;
}

.modal-cart__block {
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-right: 80px;
  padding-bottom: 75px;
  padding-left: 181px;
}

.modal-cart__add-order {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.modal-cart__add-order:before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  top: 48px;
  left: 81px;
  background-image: url("../img/icons/succes.png");
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 50%;
}

.modal-cart__block_button {
  background-color: #f1f1f1;
}

.modal-cart__block_button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 37px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-left: 80px;
}

.modal-cart__button {
  padding: 0;
  box-sizing: border-box;
  width: 220px;
  border: none;
  padding-top: 11px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.modal-cart__button-offer {
  margin-right: 20px;
  background-color: #ef3643;
  color: #ffffff;
}

.modal-cart__button-continue {
  margin: 0;
  background-color: #ffffff;
}

.modal-show {
  display: block;
}
